<div id="list-share-modal" class="modal jqmDialog">
  <div class="modal-bg"></div>
  <div class="modal-content">
    <p>
      <%= render :partial => "lists/share", :locals => { :list => list }  %>
    </p>
  </div>
  <div class="modal-actions">
  </div>
</div>
