<div id="list-edit-modal" class="modal jqmDialog">
    <div class="modal-bg"></div>
    <div class="modal-content">
      <p>
        <%= render 'lists/form' %>
      </p>
    </div>
    <div class="modal-actions">
    </div>
  </div>