<div id="list-actions-wrapper" class="clearfix">
  <ul id="list-actions" class="clearfix">
    <li class="action first button share">Share</li>
    <li class="action button delete">Delete</li>
    <li class="action button last tag jqModal edit">Edit</li>
  </ul>  
  <div id="action-msg" class=""></div>
  
  <%= render :partial => 'lists/list_edit_modal' %>

  <%= render :partial => 'lists/list_share_modal', :locals => { :list => @list } %>
  
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.button.delete').bind("click", function(){
      if ($('.list-item input[type=checkbox]:checked').length === 0){
        $('#action-msg').removeClass("success").addClass("error").html("Please select a list item").show();
      }else{
        $.ajax({
          url: "<%= batch_destroy_list_list_items_path(@list) %>",
          type: "delete",
          dataType: "html",
          data: { list_item_id : $.map($('.list-item input[type=checkbox]:checked'),
                        function(n){
                          return $(n).val();
                        }) 
                  },
          success: function(data){
            $('#action-msg').removeClass("error").addClass("success").html("The list items have been removed.").show();
            $('.list-items').html(data);
          }
        }); 
      }
    });
  });
  
  $('#list-edit-modal').jqm({
    trigger : "#list-actions .action.edit"
  });
  
  $('#list-share-modal').jqm({
    trigger : "#list-actions .action.share"
  });
</script>
