<h4>Sharing Settings</h4>

<div id="sharing-wrapper">
  <div id="participants-wrapper">
    <table id="participants">
      <tr class="owner participant">
        <td class="name"><%= list.creator.name %></td>
        <td class="email"><%= list.creator.email %></td>
        <td class="role">
          owner
        </td>
        <td class="actions"></td>
      </tr>  
      
      <% list.participants.each do | participant| %>
        <% p = participant.participations.find_by_list_id(list.id) %>
        <%= render :partial => 'lists/participant', :locals => { :participant => participant, :p => p }  %>
      <% end %>
      
      <% list.invitations.each do | invitation | %>
        <%= render :partial => 'lists/invitation', :locals => { :invitation => invitation }  %>
      <% end %>
       
    </table>

  </div>

  <div id="add-new-participants">
    <div>
      <label for="">Add people through email:</label>
    </div>
    <% form_tag create_participation_or_invitation_list_path(list), :method => "post", :remote => true, :id => "add_new_participant" do |f| -%>
      <input type="textfield" name="email" class="form-textfield minimal-matching-height mid">
      <button class="minimal">Add</button>
    <% end -%>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#participants-wrapper .role select').live('change', function(){
        $(this).parent("form").submit();
    });
    
    $('#participants-wrapper .remove').live("ajax:success", function(evt, data, status, xhr){
      $(this).parents('.participant').fadeOut(300);
    });    
    
    $('#add_new_participant').bind("ajax:success", function(evt, data, status, xhr){
      $('#participants-wrapper #participants').append(data);
      $('#add_new_participant input[type=textfield]').val("").focus()
    });
  })
</script>