<h4>Sharing Settings</h4>

<div id="sharing-wrapper">
  <div id="participants-wrapper">
    <table id="participants">
      <tr class="participant">
        <td class="name">EmilyW</td>
        <td class="email">emily@gmail.com</td>
        <td class="role">
          <select name="" id="form-">
            <option value="">Can Edit</option>
            <option value="">Can View</option>
          </select>
        </td>
      </tr>  
    </table>

  </div>

  <div id="add-new-participants">
    <div>
      <label for="">Add People:</label>
    </div>
    <input type="textfield" class="form-textfield minimal-matching-height mid">
    <button class="minimal">Add</button>
  </div>
</div>
