<% page_title "Create a new list, Yeti - the best way to share and discover lists" %>
<% body_id "new" %>
<% body_class "list" %>

<% left_panel_nav("create-new-list") %>

<% content_for :left_panel_content do %>
  <%= render 'form' %>
<% end %>

<% content_for :right_panel_content do %>
  <h3 class="list-title">List Title</h3>
  <ul class="list-meta">
    <li class="description">List Description</li>
    <li class="tags">
      <label for="">Tags: </label>
      <span>
        tag1, tag2
      </span>
    </li>
  </div>
  <script type="text/javascript">
    $('#list_title').delayedObserver(0.5, function(){
      $('h3.list-title').html($('#list_title').val());
    }, { event : 'keyup'} );
    
    $('#list_description').delayedObserver(0.5, function(){
      $('.description').html($('#list_description').val());
    }, { event : 'keyup'} );
    
  </script>
<% end %>
