<% page_title "Create a new list, Yeti - the best way to share and discover lists" %>
<% body_id "new" %>
<% body_class "list" %>

<% left_panel_nav("create-new-list") %>

<% content_for :left_panel_content do %>
  <%= render 'form' %>
<% end %>

<% content_for :right_panel_content do %>
  <%= render :partial => 'list_meta' %>
  <ul class="list-items">
    <li class="blank-state list-item">No list item yet, try add one</li>
  </ul>
  <div id="add-list-item-wrapper">
    <form action="">
      <span class="list-style numbers">1</span>
      <input type="textfield", class="form-textfield long minimal-matching-height">
      <button class="minimal">Add Item</button>
    </form>
  </div>
  <!-- <ul class="list-items">
      <li class="list-item">
        <span class="list-style numbers">1</span>
        <span class="list-item-input">
          <input type="textfield", class="form-textfield very-long short-height" id="list_list_items_attributes_0_body_source">
        </span>
        <%= floating_explanation(@list, "list_items.body", "Enter something") %>
        <span class="list-item-body"></span>
      </li>      
      <li class="list-item last">
        <span class="list-style numbers">2</span>
        <span class="list-item-input">
          <input type="textfield", class="form-textfield very-long short-height" id="">
        </span>
        <span class="list-item-body">
          click here to add more
        </span>
      </li>
    </ul> -->
  <script type="text/javascript">
  
    $('#add-list-item-wrapper form').submit(function(e){
      e.preventDefault();
      
      //1. add list item right panel
      var body = $('#add-list-item-wrapper input').val();
      if (Yeti.isEmpty(body)){
        return
      };
      var style;
      if ( $('#list_style_bullets:checked').length === 0 ){
        style = "numbers";
      }else{
        style = "bullets";
      }
      var i = $(".list-items .list-item:not('.blank-state')").length;
      if (i === 0 ){
        $('.list-items').html(Yeti.add_list_item(1, body, style));
      }else{
        $('.list-items').append(Yeti.add_list_item(i+1, body, style)); 
      }

      //2. add hidden list item right panel 
      if (i === 0){
        $('#list_items').html(Yeti.add_linked_list_item(1, body, style));
      }else{
        $('#list_items').append(Yeti.add_linked_list_item(i+1, body, style));  
      }
      
      
      $('#add-list-item-wrapper .list-style').html(i+2);
      $('#add-list-item-wrapper input').val("");
    });
    
    $('.field_with_errors input').livequery("blur", function(){
      if ($(this).val() !== ""){          
        $(this).parents(".field_with_errors").next('.floating-explanation').fadeOut();
      }
    });
    
    $('.list-item .field_with_errors input').livequery("blur", function(){
      if ($(this).val() !== ""){         
         $(this).parents(".list-item").find('.floating-explanation').fadeOut();
      }
    });
    
    $('#list_title').delayedObserver(0.5, function(){
      $('h3.list-title').html($('#list_title').val());
    }, { event : 'keyup'} );
    
    $('#list_description').delayedObserver(0.5, function(){
      $('.description').html($('#list_description').val());
    }, { event : 'keyup'} );
    
    $('#list_tag_list').delayedObserver(0.5, function(){
      $('.tags span').html($('#list_tag_list').val().replace(/, $/, ""));
    }, { event : 'keyup'});
    
    $('.list-item-input input').livequery("keyup", function(){
      $(this).parents(".list-item").find(".list-item-body").html($(this).val());
      linked_input_id = $(this).attr("id").replace(/_source/, "");
      $("#"+linked_input_id).val($(this).val());
    });
    
    $('.list-item-input input').livequery("blur", function(){
      if (Yeti.isEmpty($(this).val()) ){
        return
      };
      $(this).parents(".list-item-input").hide();
      $(this).parents(".list-item").find(".list-item-body").show();
    });

    $('.list-item-body').livequery("click", function(){
      $(this).hide();
      $(this).parents(".list-item").find(".list-item-input").show();
      $(this).parents(".list-item").find(".list-item-input input").focus();
    });
    
    $('.list-item.last').livequery("click", function(){
      Yeti.clone_list_item(this);
    });
    
    $('#list_style_bullets').click(function(){
        $('.list-item .list-style, #add-list-item-wrapper .list-style').removeClass("numbers").addClass("bullets");
    });
    $('#list_style_numbers').click(function(){
      $('.list-item .list-style, #add-list-item-wrapper .list-style').removeClass("bullets").addClass("numbers");
    });
  </script>
<% end %>
