index/**/*
index/*
index/
log/**/*
log/*
log/

.DS_STORE
.DS_Store
public/.DS_Store
out
todo.txt
notes.txt
*~
tmp/*
public/javascripts/all.js
mkmf.log
db/schema.rb
db/schema.rb.new
db/sphinx/development/*
db/sphinx/production/*
db/sphinx/stage/*
db/sphinx/test/*

config/database.yml
config/development.sphinx.conf
config/test.sphinx.conf
config/production.sphinx.conf
config/stage.sphinx.conf
config/test.sphinx.conf
public/sitemap*

test/unit/*.swp
*.swp
public/data/*.txt
public/stylesheets/cache/all.css
public/javascripts/cache/all.js
assets/icons
*.swo
*.swn
