<% page_title "Welcome to Yeti, the best way to share and discover lists" %>
<% body_id "welcome" %>
<% body_class "landings" %>

<div id="home-page-search">
  <input type="textfield" id="search-box">
  <a class="awesome orange">Search</a>
</div>

<div id="wrapper">
  <div id="featureed-lists"></div>
  <div id="signup"></div>
</div>
