<% page_title "Welcome to Yeti, the best way to share and discover lists" %>
<% body_id "welcome" %>
<% body_class "landings" %>

<div id="wrapper">
  <div id="featured-lists">
    
  </div>
  <div id="signup">
    <h1>The best way to discover and share lists</h1>
    <dl>
      <dt>Try it out</dt>
      <dd><label for="">Name:</label><input type="textfield"></dd>
      <dd><label for="">Email:</label><input type="textfield"></dd>
      <dd><label for="">Password:</label><input type="textfield"></dd>
    </dl>
    <a href="#" class="awesome orange large">Sign Up</a>
  </div>
</div>

<div id="home-page-search">
  <input type="textfield" id="search-box">
  <a class="awesome orange">Search</a>
</div>
