/*jGrowl*/
div.jGrowl div.jGrowl-notification{
  opacity: 0.80;
}

div.jGrowl .notice .jGrowl-message {
    color: #66bbff;
    font-size: 14px;
    xbackground: url(/images/success.png) no-repeat top left;
    padding-left: 5px;
}

div.jGrowl .alert .jGrowl-message {
    color: orange;
    font-size: 14px;
    xbackground: url(/images/notice.png) no-repeat top left;
    padding-left: 5px;
}

div.jGrowl .error .jGrowl-message {
    color: #e100c6;
    font-size: 14px;
    xbackground: url(/images/error.png) no-repeat top left;
    padding-left: 5px;
}