/* default */
body{ 
  color: #333; 
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff;  }

a:hover, button:hover{
  -webkit-transition: background 0.25s ease-in;
}

div.field, div.actions {
  margin-bottom: 10px;
}

/*h1, 2, 3, 4, 5, 6 */
h1{
  font-size: 36px;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 24px;
  margin-bottom: 10px;
}

h4{
  font-size: 18px;
}

.hide{
  display: none !important;
}

.show-block{
  display: block !important;
}

.show-inline{
  display: inline !important;
}

/* clearfix*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* Header */
#flash_message{
  display:none;
}

#top{
  background: transparent url(/images/header.gif) repeat-x;
  height: 80px;
}

#top #header{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#logo{
  padding-top: 25px;
}

#login,
#user-menu{
  position: absolute;
  top: 15px;
  right: -40px;
}

#user-menu{
  top: 0;
}

#login li,
#user-menu li{
  float: left;
}

#user-menu li{
  float: left;
  padding: 2px 3px;
}

#global-nav{
  position: absolute;
  top: 35px;
  right: -40px;
}

#global-nav li{
  font-size: 16px;
  color: white;
  background-color: #777;
  padding: 5px 15px 9px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  text-shadow: -1px -1px #333;
}

#global-nav li:hover{
  background-color: #555;
}

#global-nav li a{
  text-decoration: none;
  color: white;
}

/*container*/
#container{
  background: #ccc url(/images/body.png) repeat;
  padding: 30px 0 30px 0;
  min-height: 500px;
}

#container #content{
  width: 1000px;
  margin: 0 auto;
}

#wrapper{
  width: 1000px;
  min-height: 450px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 auto 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
}

/*bottom*/
#bottom{
  border-top: 1px solid #aaa;
  padding: 5px 0 0 0;
  background-color: #ededed;
  min-height: 150px;
}

#footer{
  width: 1000px;
  margin: 0 auto;
}

#footer-nav li{
  float: left;
  margin-left: 15px;
  color: #689c00;
  text-shadow: 1px 1px #fff;
}

/* general form */

.form-line-item{
  position: relative;
  margin-top: 15px;
}
.form-label{
  display: block;
  font: 14px Arial, sans-serif;
  line-height: 14px;
  padding-bottom: 4px;
}

.form-textfield,
.form-textarea{
  font: 14px Arial, sans-serif;
  color: #7C7972;
  border: 1px solid #E2E0D8;
  background: #F6F5F1;
  padding: 9px 5px 10px;
}

.form-textfield.very-long{
  width: 480px;
}

.form-textfield.mid,
.form-textarea{
  width: 238px;
}

.form-textfield.mi-short{
  width: 160px;
}

.form-textfield.short{
  width: 100px;
}

.form-textfield.short-height{
  padding: 5px 5px 5px;
}

.form-textarea.short-height{
  height: 100px;
}


.form-label.green{
  color: #3e5c2e;
}

.form-textfield.green{
  background-color: #53951c;
  border: 1px solid #84c150;
  color: #fff;
  padding: 5px;
}

.floating-explanation{
  padding: 5px;
  border: 5px solid #e2ca5a;
  color: #937d20;
  display: block;
  position: absolute;
  top: 20px;
  left: 260px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); 
  background-color: #fff68f;
  display: none;
  min-width: 170px;
  z-index: 99;
}

.floating-explanation.wrong{
 display: block;
}

.floating-explanation.correct{
 display: block;
}


.floating-explanation .yellow-tip{
  background: transparent url(/images/yellow-tip.png) no-repeat top left;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 10px;
  left: -10px;
}


/* -----------------------------------*/  
/* ------>>> general purpose <<<------*/  
/* -----------------------------------*/
.hide{
  display: none !important;
}

/* -----------------------------------*/  
/* ------>>> Buttons <<<--------------*/  
/* -----------------------------------*/

/* disabled */
.disabled{
  opacity: 0.5 !important;
}

.spinner{
  background: transparent url(/images/indicators/spinner.gif) no-repeat top left;
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  top: -35px;
  left: 200px;
}

/* minimal
*******************************************************************************/
button.minimal, a.minimal{
  background: #e3e3e3;
  border: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 150px;
  text-decoration: none;
}

a.minimal{
  display: block;
  margin-top: 2px;
}

button.minimal:hover,
a.minimal:hover{
  background: #d9d9d9;
  -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
  -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
  box-shadow: inset 0 0 1px 1px #eaeaea;
  color: #222;
  cursor: pointer;
}

button.minimal:active,
a.minimal:active{
  background: #d0d0d0;
  -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
  -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
  box-shadow: inset 0 0 1px 1px #e3e3e3;
  color: #000;
}

/*awesome buttons - http://www.zurb.com/blog_uploads/0000/0617/buttons-03.html*/
.awesome, .awesome:visited {
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #222;
  display: inline-block; 
  padding: 5px 10px 6px; 
  color: #fff; 
  text-decoration: none;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
}

.awesome:hover							{ background-color: #111; color: #fff; }
.awesome:active							{ top: 1px; }
.small.awesome, .small.awesome:visited 			{ font-size: 11px; padding: ; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
.green.awesome:hover						{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
.blue.awesome:hover							{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
.red.awesome:hover							{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
.orange.awesome:hover							{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
.yellow.awesome:hover							{ background-color: #fc9200; }

.purple.awesome{
  background-color: #b53d78;
}

.purple.awesome:hover{
  background-color: #d31673;
}

.orange-red.awesome{
  background-color: #e55208;
}

.orange-red.awesome:hover{
  background-color: #f24026;
}

.awesome.large{
  font-size: 24px;
}
.awesome.huge{
  font-size: 36px;
}

/*simple buttons*/

.simple-button{
  border: 1px solid #ccc;
  color: #fff;
  background-color: #777;
  font-size: 14px;
  padding: 4px 5px 5px 5px;
  cursor: pointer;
  text-decoration: none;
}

.simple-button:hover{
  background-color: #888;
}

.simple-button.dark-red{
  background-color: #b30003;
}

.simple-button.dark-red:hover{
  background-color: #d20015;
}

.simple-button.orange-red{
  background-color: #e55208
}

.simple-button.orange-red:hover{
  background-color: #f24026
}

.simple-button.large{
  font-size: 24px
}

.simple-button.huge{
  font-size: 36px
}

.simple-button.normal{
  font-size: 14px
}

.simple-button.small{
  font-size: 12px
}


