/*welcome page*/
#welcome{
  
}

#welcome #home-page-search{
  width: 1000px;
  height: 80px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #ccc;
  padding: 20px;
}

#welcome #wrapper{
  width: 1000px;
  height: 450px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 auto 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
}

#welcome #featured-lists{
  float: left;
  -moz-box-shadow: 3px 3px 10px #ddd;
  -webkit-box-shadow: 3px 3px 10px #ddd;
  box-shadow: 3px 3px 10px #ddd;
}

#welcome #featured-lists img{
  display: none;
}

#welcome #featured-lists img.first{
  display: block;
}


#welcome #signup{
  width: 360px;
  height: 400px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  margin-left: 20px;
}

#welcome h1{
  width: 415px;
  font-size: 36px;
  font-family: helvetica, arial;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 0.3px;
  color: #444133;
  text-shadow: 1px 1px #fff;

  background-color: #DFECC6;
  padding: 20px;
  -webkit-border-radius: 10px;
  position: relative;
  top: 0;
  right: 0;
}

#welcome h1 .tip{
  background-image: url(/images/tip.png);
  position: absolute;
  bottom: -30px;
  right: 10px;
  width: 40px;
  height: 40px;
}
#welcome dl{
  padding: 20px 0;
}

#welcome dl dd{
  margin-top: 15px;
}

#welcome dl dd label{
  margin-bottom: 2px;
  display: block;
  color: #555;
}








