/*welcome page*/
#welcome{
  
}

#welcome #home-page-search{
  width: 1000px;
  height: 80px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #ccc;
  margin: 30px auto 30px auto;
}

#welcome #wrapper{
  width: 1000px;
  height: 400px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #ccc;
  margin: 30px auto 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
}

#welcome #featured-lists{
  width: 600px;
  height: 400px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #ccc;
  float: left;
}

#welcome #signup{
  width: 360px;
  height: 400px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  margin-left: 20px;
}

#welcome h1{
  font-size: 36px;
  font-family: helvetica, arial;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 0.3px;
}

#welcome dl{
  padding: 20px 0;
  border-top: 1px solid #ccc;
}
#welcome dl dd{
  margin-top: 10px;
}

#welcome dl dd label{
  margin-bottom: 2px;
  display: block;
  color: #555;
}








