/*------------------------*/
/*----user home-----------*/
/*------------------------*/

/*search for create*/
#search-or-create{
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 15px;
}
#search-or-create .form-textfield{
  padding: 7px 5px 6px;
}

#search-or-create ul li{
  float: left;
}

#search-or-create #create-a-list,
#search-or-create #browse-lists{
  margin-left: 25px;
}

/*main layout*/
#main{
}

#main #left-panel{
  width: 300px;
  float: left;
}

#main #right-panel{
  width: 670px;
  float: left;
  margin-left: 20px;
}

#main #left-panel-nav{
  height: 29px;
}

#main #left-panel-nav li{
  float: left;
  margin-right: 2px;
  padding: 5px 10px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;  
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
}

#main #left-panel-nav li:hover{
  background-color: #e3e3e3;
}
#main #left-panel-nav li a{
  text-decoration: none;
  color: #333;
}

#main #left-panel-nav li a{
  color: #333;
}

#main #left-panel-nav li.selected a{
  cursor: default;
}

#main #left-panel-nav li.selected{
  border-bottom: 1px solid #f8f8f8;
}

#main #left-panel-nav li.selected:hover{
  background-color: #f8f8f8;
}
#main #left-panel-content{
  border: 1px solid #ccc;
  min-height: 400px;
  padding: 5px 10px;
  -webkit-border-top-right-radius: 5px;  
  -webkit-border-bottom-right-radius: 5px;  
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
}

#main #right-panel-content{
  border: 1px solid #ccc;
  min-height: 400px;
  padding: 15px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#main #right-panel-content .list-meta{
  margin-bottom: 15px;
}

#main #right-panel-content .list-item{
  margin-bottom: 15px;
  position: relative;
}

#main #right-panel-content .list-item .floating-explanation{
  margin-bottom: 15px;
  top: -5px;
  left: 540px;
}

#main #right-panel-content .list-item .field_with_errors{
  position: absolute;
  top: -5px;
  left: 20px;
}


#main #right-panel-content .list-item-body{
  font-size: 16px;
  display: none;
}

#main #right-panel-content .list-item.last .list-item-input{
  display: none;
}

#main #right-panel-content .list-item.last .list-item-body{
  font-size: 16px;
  display: inline;
  color: #777;
  font-style: italic;
}

#main #right-panel-content .list-style.numbered{
  font-size: 16px;
  font-weight: bold;
  margin-right: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#main #right-panel-content #new-list-item-wrapper{
  border-top: 1px dotted #ccc;
  padding: 15px 0;
}

/* -- lists -- */
#main #left-panel-content .lists{
  margin: 10px 0 20px;
}

#main #left-panel-content .lists .lists-title{
  padding: 5px 10px;
  background-color: #777;
  color: white;
  text-shadow: -1px -1px #333;
  font-size: 13px;
}

#main #left-panel-content .lists .list{
  border-bottom: 1px dotted #CCC;
  padding: 5px 10px;
  cursor: pointer;
}

#main #left-panel-content .lists .list.blank-state{
  color: #ccc;
  font-style: italic;
  cursor: default;
}

#main #left-panel-content .lists .list:hover{
  background-color: #eee;
}






