/*------------------------*/
/*----user home-----------*/
/*------------------------*/

/*search for create*/
#search-or-create{
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 15px;
}
#search-or-create .form-textfield{
  padding: 7px 5px 6px;
}

#search-or-create ul li{
  float: left;
}

#search-or-create #create-a-list,
#search-or-create #browse-lists{
  margin-left: 25px;
}

/*main layout*/
#main{
}

#main #left-panel{
  width: 300px;
  float: left;
}

#main #right-panel{
  width: 670px;
  float: left;
  margin-left: 20px;
}

#main #left-panel-nav{
  height: 29px;
}

#main #left-panel-nav li{
  float: left;
  margin-right: 2px;
  padding: 5px 10px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;  
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
}

#main #left-panel-nav li:hover{
  background-color: #e3e3e3;
}
#main #left-panel-nav li a{
  text-decoration: none;
  color: #333;
}

#main #left-panel-nav li a{
  color: #333;
}

#main #left-panel-nav li.selected a{
  cursor: default;
}

#main #left-panel-nav li.selected{
  border-bottom: 1px solid #f8f8f8;
}

#main #left-panel-nav li.selected:hover{
  background-color: #f8f8f8;
}
#main #left-panel-content{
  border: 1px solid #ccc;
  min-height: 400px;
  padding: 5px 10px;
  -webkit-border-top-right-radius: 5px;  
  -webkit-border-bottom-right-radius: 5px;  
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
}


#main #right-panel-content{
  border: 1px solid #ccc;
  min-height: 400px;
  padding: 15px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#main #list-actions-wrapper{
  margin-bottom: 15px;
}
#main #list-actions{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-user-select: none;
  -khtml-user-select: none;
  float: left;
  width: 250px;
}

#main #list-actions li.action{
  float: left;
  padding: 3px 5px;
  border-left: 1px solid #ccc;
  cursor: pointer;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #eee;
  background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));
  background: -moz-linear-gradient(top, #F9F9F9, #E3E3E3);
}

#main #list-actions li.action.first{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
}

#main #list-actions li:hover{
  border: 1px solid #999;
}

#main #list-actions li:active{
  background: -webkit-gradient(linear,0% 40%,0% 70%,from(#E3E3E3),to(#F9F9F9));
  background: -moz-linear-gradient(top, #e3e3e3,#F9F9F9);
}

#main #list-actions li.action.last{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-right: 1px solid #ccc;
}

#main #action-msg{
  min-width: 100px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  float: left;
  padding: 3px 15px;
  display: none;
}

#main #action-msg.error{
  background-color: #f45335;
  color: #fff;
}

#main #action-msg.success{
  background-color: #2cce78;
  color: #fff;
}

#main #right-panel-content .list-meta{
  margin-bottom: 15px;
}

#main #right-panel-content .list-meta .created_at{
  font-style: italic;
  color: #aaa;
  font-size: 12px;
}

#main #right-panel-content .list-item{
  margin-bottom: 15px;
  position: relative;
}

#main #right-panel-content .list-item.blank-state{
  color: #ccc;
  font-style: italic;
}

#main #right-panel-content .list-item.blank-state.error{
  color: #f45335;
}


#main #right-panel-content .list-item:hover{
  cursor: default;
}

#main #right-panel-content .list-style{
  cursor: pointer;  
}

#main #right-panel-content .list-style.numbers{
  font-size: 16px;
  font-weight: bold;
  margin-right: 15px;
}

#main #right-panel-content .list-style.bullets{
  font-size: 16px;
  font-weight: bold;
  margin-right: 15px;
  text-indent: -9999px;
  background-color: #333;
  width: 8px;
  height: 8px;
  border: 1px solid #CCC;
  vertical-align: 1%;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}


#main #right-panel-content #new-list-item-wrapper,
#main #right-panel-content #add-list-item-wrapper{
  border-top: 1px dotted #ccc;
  padding: 15px 0;
}

form.edit_list_item{
  display: inline;
}

.checked-off{
  text-decoration: line-through;
  color: #aaa;
}

/* -- lists -- */
#main #left-panel-content .lists{
  margin: 10px 0 20px;
}

#main #left-panel-content .lists .lists-title{
  padding: 5px 10px;
  background-color: #777;
  color: white;
  text-shadow: -1px -1px #333;
  font-size: 13px;
}

#main #left-panel-content .lists .list{
  border-bottom: 1px dotted #CCC;
  padding: 5px 10px 5px 30px;
  cursor: pointer;
}

#main #left-panel-content .lists .list.public{
  background: transparent url(/images/icons/fugue/report.png) no-repeat 8px center;
}
#main #left-panel-content .lists .list.private{
  background: transparent url(/images/icons/fugue/lock.png) no-repeat 8px center;
}


#main #left-panel-content .lists .list.blank-state{
  color: #ccc;
  font-style: italic;
  cursor: default;
}

#main #left-panel-content .lists .list:hover{
  background-color: #eee;
}


/* trash can */
#trash-can{
  background: transparent url(/images/icons/trash.png) no-repeat; 
  width:24px; height:24px; 
  padding: 10px; 
  position: absolute; right: 0; top: 15px;
}

#trash-can.activated{
  background: transparent url(/images/icons/trash_activated.png) no-repeat;
}

#trash-can.over{
  background: transparent url(/images/icons/trash_over.png) no-repeat;
}

#copy-list{
  position: absolute; right: 10px; top: 15px;
}
/*add this*/
#add_this{
  margin-bottom: 15px;
}

/*share list*/
#sharing-wrapper {
  border: 1px solid #CCC;
  margin-top: 10px;
}

#sharing-wrapper #participants-wrapper{
  min-height: 200px;
}

#sharing-wrapper #participants{
  width: 100%;
}

#sharing-wrapper #participants .participant{
  border-bottom: 1px dotted #ccc;
}

#sharing-wrapper #participants .participant .name{
  padding: 5px 15px;
  width: 120px;
}

#sharing-wrapper #participants .participant .email{
  width: 240px;
}

#sharing-wrapper #participants .participant .role{
  width: 140px;
}

#sharing-wrapper #participants .participant .actions a.remove{
  color: #999;
  text-decoration: none;
}

#sharing-wrapper #participants .participant .actions a.remove:hover{
  color: #333;
  text-decoration: none;
}

#sharing-wrapper #add-new-participants{
  margin-top: 15px;
  padding: 5px 15px 10px 15px;
  border-top: 1px solid #CCC;
}



