<% page_title "Yeti Home, the best way to share and discover lists" %>
<% body_id "home" %>
<% body_class "user" %>

<% left_panel_nav %>

<% content_for :left_panel_content do %>
<dl id="lists-i-created" class="lists">
  <dt class="lists-title">LISTS I CREATED</dt>
  <% if @lists_i_created.blank? %>
    <dd class="list blank-state">Nothing here</dd>
  <% else %>
    <% @lists_i_created.each_with_index do |list, index| %>
      <%= content_tag_for :dd, list do %>
        <%= list.title %>
      <% end %>
    <% end %>
  <% end %>
</dl>

<dl id="lists-i-am-shared-with" class="lists">
  <dt class="lists-title">LISTS I AM SHARED WITH</dt>
  <% if @lists_i_am_shared_with.blank? %>
    <dd class="list blank-state first">Nothing here yet</dd>
  <% else %>
    <% @lists_i_am_shared_with.each_with_index do |list, index| %>
      <dd class="list <%= index == 0 ? "first" : "" %>"><%= list.title %></dd>
    <% end %>
  <% end %>
</dl>


<script type="text/javascript">
  $(document).ready(function(){
    $('.list:not(.blank-state)').click(function(e){
      e.preventDefault();
      list_id = $(this).attr("id").split("_")[1];
      console.log(list_id);
      $.ajax({
        url : "/lists/" + list_id,
        type: "get",
        success : function(data){
          $('#list-detail').html(data);
        }
      })
    })
  });
</script>

<% end %>

<% content_for :right_panel_content do %>
<div id="list-detail"></div>
<% end %>
