<li class="list-item">
  <span class="list-style numbered"><%= list_item.position %></span>
  <span class="list-item-input">
    <input type="textfield", class="form-textfield very-long short-height" id="list_list_items_attributes_0_body_source">
  </span>
  <%= floating_explanation(@list, "list_items.body", "Enter something") %>
  <span class="list-item-body"></span>
</li>    