<% form_for UserSession.new do |f| -%>
<ul id="login">
  <li>
    <label for="" class="form-label">Email</label>
    <%= f.text_field :email, :class => "form-textfield black mi-short" %>
  </li>
  <li>
    <label for="" class="form-label">Password</label>
    <%= f.password_field :password, :class => "form-textfield black short" %>
  </li>
  <li style="padding-top: 17px"><button class="simple-button orange-red">Sign In</button></li>
</ul>
<% end -%>