<ul id="user-menu">
  <li class="name"><%= current_user.name %></li>
  <li class="settings"><%= link_to "settings", edit_user_path(current_user) %></li>
  <li class="logout"><%= link_to "logout", logout_path %></li>
</ul>